@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-fadeUp: fadeUp 0.25s ease-out forwards;
  --animate-fadeUpSlow: fadeUp 0.5s ease-out forwards;
  
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@utility btn-primary {
  @apply transition-transform ease-out font-medium px-5 py-3 rounded-full flex gap-1 items-center bg-zinc-900 text-zinc-50 hover:bg-zinc-700 dark:bg-zinc-100 dark:text-zinc-950 dark:hover:bg-zinc-300 active:scale-[97%] cursor-pointer;
}

@utility btn-secondary {
  @apply transition-transform ease-out font-medium px-5 py-3 rounded-full flex gap-1 items-center border border-zinc-300 text-zinc-950 hover:bg-zinc-200 dark:border-zinc-600 dark:text-zinc-50 dark:hover:bg-zinc-800 active:scale-[97%] cursor-pointer;
}

@utility btn-ghost {
  @apply transition-transform ease-out font-medium px-5 py-3 rounded-full flex gap-1 items-center text-zinc-950 hover:bg-zinc-200 dark:text-zinc-50 dark:hover:bg-zinc-800 active:scale-[97%] cursor-pointer;
}

@utility btn-link {
  @apply transition-transform ease-out font-medium flex gap-2 items-center text-zinc-950 hover:text-zinc-300 dark:text-zinc-50 dark:hover:text-zinc-600 active:scale-[97%] cursor-pointer;
}

/* custom CSS */

@keyframes draw {
  to {
      stroke-dashoffset:0
  }
}

svg#logo path {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
}

svg#logo path:first-child {
  animation-timing-function: ease-in;
  animation-duration: 1.25s
}

svg#logo path:nth-child(2) {
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-duration: 1.5s
}