@import "tailwindcss";

@theme {
  --animate-fadeUp: fadeUp 0.4s ease-out;

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility btn-primary {
  @apply flex cursor-pointer items-center gap-1 rounded-full bg-zinc-900 px-5 py-3 font-medium text-zinc-50 transition-transform duration-160 ease-out hover:bg-zinc-700 active:scale-[96%] dark:bg-zinc-100 dark:text-zinc-950 dark:hover:bg-zinc-300;
}

@utility btn-secondary {
  @apply flex cursor-pointer items-center gap-1 rounded-full border border-translucent bg-white px-5 py-3 font-medium text-zinc-950 shadow-xs transition-transform duration-160 ease-out hover:bg-zinc-200 active:scale-[96%] dark:bg-zinc-900 dark:text-zinc-50 dark:hover:bg-zinc-800;
}

@utility btn-ghost {
  @apply flex cursor-pointer items-center gap-1 rounded-full px-5 py-3 font-medium text-zinc-950 transition-transform duration-160 ease-out hover:bg-zinc-200 active:scale-[96%] dark:text-zinc-50 dark:hover:bg-zinc-800;
}

@utility btn-link {
  @apply flex cursor-pointer items-center gap-2 font-medium text-zinc-950 transition-transform duration-160 ease-out hover:text-zinc-300 active:scale-[96%] dark:text-zinc-50 dark:hover:text-zinc-600;
}

@utility border-translucent {
  @apply border-zinc-200/50 dark:border-zinc-600/50;
}

@utility text-primary {
  @apply text-zinc-950 dark:text-zinc-50;
}

@utility text-muted {
  @apply text-zinc-500 dark:text-zinc-400;
}

/* custom CSS */

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg#logo path {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  stroke-dasharray: 160;
  stroke-dashoffset: 160;

  &:first-child {
    animation-timing-function: ease-in;
    animation-duration: 1.25s;
  }

  &:nth-child(2) {
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-fadeUp,
  svg#logo path {
    animation: none;
  }

  svg#logo path {
    stroke-dashoffset: 0;
  }
}
