@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply transition-colors ease-out font-medium px-5 py-3 rounded-full flex gap-1 items-center bg-zinc-900 text-zinc-50 hover:bg-zinc-700 dark:bg-zinc-100 dark:text-zinc-950 dark:hover:bg-zinc-300;
  }
  .btn-secondary {
    @apply transition-colors ease-out font-medium px-5 py-3 rounded-full flex gap-1 items-center border border-zinc-400 text-zinc-950 hover:bg-zinc-200 dark:border-zinc-600 dark:text-zinc-50 dark:hover:bg-zinc-800;
  }
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

svg#logo path {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
}

svg#logo path:nth-child(1) {
  animation-timing-function: ease-in;
  animation-duration: 1250ms;
}

svg#logo path:nth-child(2)  {
  animation-delay: 1000ms;
  animation-timing-function: ease-out;
  animation-duration: 1500ms;
}

