//
// Variables

// Breakpoints
$bp-desktop: 1200px;
$bp-tablet: 812px;
$bp-mobile: 500px;

// Colors
$color-background: #282c37;
$color-text: #848d96;
$color-link: $color-text;
$color-highlight: #eee;
$color-link-hover: #fafafa;

//
// CSS Variables
:root {
	--color-background: #282c37;
	--color-text: #848d96;
	--color-highlight: #eee;
	--color-link: var(--color-text);
	--color-link-hover: #fafafa;
}

@media (prefers-color-scheme: light) {
	// Colors
	$color-background: #fafafa;
	$color-text: #666;
	$color-link: $color-text;
	$color-highlight: #333;
	$color-link-hover: #111;

	//
	// CSS Variables
	:root {
		--color-background: #fafafa;
		--color-text: #666;
		--color-highlight: #333;
		--color-link: var(--color-text);
		--color-link-hover: #111;
	}
}
