/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-background: #282c37;
  --color-text: #bbb;
  --color-highlight: #eee;
  --color-link: var(--color-text);
  --color-link-hover: #fafafa;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fafafa;
    --color-text: #666;
    --color-highlight: #333;
    --color-link: var(--color-text);
    --color-link-hover: #111;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  -moz-font-feature-settings: "liga" on;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  background-color: #282c37;
  background-color: var(--color-background);
  color: #bbb;
  color: var(--color-text);
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 812px) {
  body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    min-height: 100vh;
  }
}

body a {
  border-bottom: 1px dotted #bbb;
  border-bottom: 1px dotted var(--color-link);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #bbb;
  color: var(--color-link);
  text-decoration: none;
}

body a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px dotted #fafafa;
  border-bottom: 1px dotted var(--color-link-hover);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  color: #fafafa;
  color: var(--color-link-hover);
  text-decoration: none;
}

.o-imageCol {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  background: url("../images/niklas-peterson.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media (max-width: 812px) {
  .o-imageCol {
    position: fixed;
    z-index: -1;
    width: 100vw;
  }
  .o-imageCol:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #282c37;
    background-color: var(--color-background);
    opacity: 0.88;
  }
}

.o-contentCol {
  width: 50vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@media (max-width: 812px) {
  .o-contentCol {
    width: 100vw;
    height: auto;
    z-index: 1;
  }
}

.o-contentCol__innerContainer {
  padding: 48px;
  max-width: 680px;
  margin-top: auto;
  margin-bottom: auto;
}

.m-introduction h1 {
  margin-bottom: 40px;
  color: #eee;
  color: var(--color-highlight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.m-introduction .a-tagline {
  font-weight: 200;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: -2px;
  color: #eee;
  color: var(--color-highlight);
}

@media (max-width: 812px) {
  .m-introduction .a-tagline {
    font-size: 40px;
    line-height: 1.25;
  }
}

.m-biography {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
}

.m-list {
  margin-bottom: 40px;
}

.m-list__item {
  width: 49.5%;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 500px) {
  .m-list__item {
    width: 100%;
    margin-top: 24px;
  }
  .m-list__item:first-child {
    margin-top: 0;
  }
}

.m-list__item h3 {
  margin-bottom: 16px;
  color: #eee;
  color: var(--color-highlight);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}

.m-list__item ul li {
  margin-bottom: 16px;
}

.m-list__item ul li:last-child {
  margin-bottom: 0;
}

.a-credit {
  color: #eee;
  color: var(--color-highlight);
  font-size: 14px;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */